.comment {
  background-color: #AEC7A1; /* 배경색 지정 */
  min-height: 100vh; /* 뷰포트 전체 높이만큼 최소 높이 설정 */
  padding: 30px; /* 내부 여백 추가 */
  border-radius:20px;
}

.comment h1 {
  padding: 4px;
  background-color: #AEC7A1;
  width: 400px; /* 제목의 너비를 box와 동일하게 조정 */
  height: 40px;
  text-align: center;
  font-size: 25px;
  border-radius: 10px 10px 0 0;
  margin: auto; /* 수평 가운데 정렬 */
  color: #5C5F5C;
}

.comment .box {
  background-color: white; /* Optional: style for the inner box */
  padding: 20px;
  border-radius: 10px; /* Optional: rounded corners for the box */
  max-width: 800px; /* Limit the maximum width */
  margin: auto; /* Center the box horizontally */
  width: 800px;
}

.comment button {
  border : none;
  width : 100px;
  height : 40px;
  border-radius : 10px;

}
.comment .btnsubmit {
  height : 40px;
}

.comment p .commentcontent {
  background-color : white;
  height : 40px;
  border-radius : 10px;
  width: 600px;
}


.comment .seperate {
  border-bottom: 1px solid #ddd;
}

.comment .box {
  color: #5C5F5C
}

.comment textarea {
  height : 40px;
  width : 480px;
  border : none;
  border-radius : 10px;
  
}


