.searchdiv {
  width: 400px;
}

.searchdiv2 {
  background-color: white;
  width: 370px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}


.searchsort {
  display: flex;
  flex-direction: row; /* 명시적으로 가로 방향으로 정렬 */
  gap: 30px; /* 두 select 요소 사이 간격 */
  align-items: center; /* 세로 중앙 정렬 */
}

.searchsort select {
  flex-shrink: 0; /* 선택 요소가 줄어들지 않게 설정 */
}

.searchrecipetitle {
  font-size : 20px;
  text-align : center;
  margin-top : 15px;
}

.recipe-info {
  display: flex; /* 가로로 정렬 */
  gap: 20px; /* 간격 설정 */
  align-items: center; /* 세로로 중앙 정렬 */
  flex-direction: row;
}


