requests~=2.32.3
python-dotenv~=1.0.1
opencv-python~=4.10.0.84
numpy~=1.26.4
defusedxml~=0.7.1
pyqt6~=6.7.1
pyside6~=6.8.0.2
panel==1.3.8
dask~=2023.11.0
rich~=13.9.4
pytest~=7.4.0
cython~=3.0.11
pymc==5.11.0
libarchive==0.4.7
tqdm>=4.48.0,<=4.49.0
fastapi
boto3
openai
torch