requests~=2.32.3
python-dotenv~=1.0.1
input~=0.0.0
cashew~=0.4.1
av~=13.0.0
argparse~=1.4.0
opencv-python~=4.10.0.84
numpy~=1.26.4
defusedxml~=0.7.1
ipython~=8.12.3
typing_extensions~=4.12.2
pyqt6~=6.7.1
pyside6~=6.8.0.2
future~=0.18.3
pillow==10.0.0
olefile~=0.47
jupyter~=1.1.1
pip~=24.3.1
pathlib~=1.0.1
panel==1.3.8  # panel 버전 고정
configparser~=7.1.0
attr~=0.3.2
attrs~=23.1.0
distro~=1.8.0
htmlparser~=0.0.2
wheel~=0.41.2
cryptography~=42.0.2
docutils~=0.18.1
sphinx~=5.0.2
tornado~=6.3.3
railroad~=0.5.0
jinja2~=3.1.3
filelock~=3.16.1
pytz~=2023.3.post1
disco==1.40.4  # disco 버전 고정
dask~=2023.11.0
rich~=13.9.4
colorama~=0.4.6
ipywidgets~=7.6.5
notebook~=7.0.8
yacs~=0.1.8
pyyaml~=6.0.1
pytest~=7.4.0
hypothesis~=6.118.8
cython~=3.0.11
setuptools~=68.2.2
overrides~=7.4.0
cffi~=1.17.1
numba~=0.59.0
mypy~=1.8.0
pyinstaller~=6.11.1
sympy~=1.13.1
mpmath~=1.3.0
symengine~=0.13.0
flint~=0.0.1
gmpy2~=2.1.2
pymc==5.11.0  # pymc 버전 고정
libarchive==0.4.7  # 최신 버전으로 수정
tqdm>=4.48.0,<=4.49.0
fastapi
boto3
