.createrecipe {
  width : 250px;
  margin: 0 auto;
  padding: 80px;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

button.back-button {
  width : 80px;
}

.mode-toggle {
  display: flex;
  justify-content: space-between;
  flex-direction : row;
  border-radius: 30px;
  margin-bottom: 20px;
  width: 100%; /* 전체 너비로 설정 */
  height :70px;
  max-width: 300px; /* 필요에 따라 최대 너비 설정 */
  padding : 10px;
}

.mode-toggle button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.mode-toggle .active {
  background-color: #4caf50; /* 선택된 버튼의 배경색 */
  color: #fff;
}

.mode-toggle button:not(.active) {
  background-color: #fff;
  color: #333;
}

