.createreview input{
  width : 80px;
  height : 40px;
  border : none;
  border-radius: 10px;
}

.createreview textarea{
  width : 750px;
  height : 40px;
  border : none;
  border-radius: 10px;
}

.createreview button {
  width : 80px;
  height : 40px;
  border : none;
  border-radius:10px;
}