div.box{
  background-color : #DEF3E4;
  border-radius : 20px;
  margin : 20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius : 10px;
}

