.mainmypage {
  background-color: #FAF6C0; /* 배경색 지정 */
  min-height: 100vh; /* 뷰포트 전체 높이만큼 최소 높이 설정 */
  padding: 20px; /* 내부 여백 추가 */
  display: flex;
  align-items: center;
  flex-direction: column; /* 수직 정렬을 위해 추가 */
}

.mainmypage h1 {
  padding: 4px;
  width: 400px; /* 제목의 너비를 box와 동일하게 조정 */
  height: 40px;
  text-align: center;
  font-size: 25px;
  margin: 20px auto; /* 수평 가운데 정렬 및 수직 여백 추가 */
  color: #5C5F5C;
}

.mainmypage .box {
  background-color: white; /* Optional: style for the inner box */
  padding: 20px;
  border-radius: 10px; /* Optional: rounded corners for the box */
  max-width: 800px; /* Limit the maximum width */
  height: 450px;
  margin: auto; /* Center the box horizontally */
  width: 800px;
  display: flex; /* Flexbox 레이아웃 설정 */
  flex-direction: column; /* 수직 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.mainmypage .button-container {
  display: flex; /* Flexbox 레이아웃 설정 */
  justify-content: center; /* 수평 가운데 정렬 */
  margin-top: 20px; /* 버튼 컨테이너의 위쪽 마진 */
}

.mainmypage button {
  border: none;
  width: 150px;
  height: 45px;
  border-radius: 10px;
  margin: 0 10px;
}
