.mypageedit {
  background-color: #FAF6C0; /* 배경색 지정 */
  min-height: 100vh; /* 뷰포트 전체 높이만큼 최소 높이 설정 */
  padding: 20px; /* 내부 여백 추가 */
}

.mypageedit .box {
  background-color: white; /* Optional: style for the inner box */
  padding: 30px;
  border-radius: 10px; /* Optional: rounded corners for the box */
  max-width: 800px; /* Limit the maximum width */
  margin: auto; /* Center the box horizontally */
  width: 800px;
  display: flex; /* Add flexbox */
  flex-direction: column; /* Arrange children in a column */
  align-items: center; 
  color:#5C5F5C;
  
}

.mypageedit .profile {
   /* Optional: style for the inner box */
  border-radius: 10px; /* Optional: rounded corners for the box */
  max-width: 800px; /* Limit the maximum width */
  margin: auto; /* Center the box horizontally */
  width: 800px;
  display: flex; /* Add flexbox */
  flex-direction: column; /* Arrange children in a column */
  align-items: center; 
  color:#5C5F5C;
}

.mypageedit .user {
  /* Optional: style for the inner box */
 border-radius: 10px; /* Optional: rounded corners for the box */
 max-width: 800px; /* Limit the maximum width */
 margin: auto; /* Center the box horizontally */
 width: 800px;
 display: flex; /* Add flexbox */
 flex-direction: column; /* Arrange children in a column */
 align-items: center; 
 color:#5C5F5C;
}

.mypageedit .user input {
 height : 35px;
 border-radius:10px;
 border: 1px solid;
 width: 200px;
 display: flex; /* Add flexbox */
 flex-direction: column; /* Arrange children in a column */
 align-items: center; 
 color:#5C5F5C;
}


img{
  height: 400px;
  width: 600px;
  display : flex;
  border-radius:20px;
}

.mypageedit button {
  border : none;
  width : 150px;
  height : 40px;
  border-radius : 10px;
  margin: 0 10px;
  align-items:center;
  background-color:#AEC7A1;
}




