div.nav {
  background-color: #3EAB5C;
  position: fixed;
  bottom: 0; /* Positions the nav at the bottom */
  width: 100vw; /* Make the nav bar span the full width of the page */
  display: flex;
  justify-content: space-around; /* Distribute buttons evenly */
  padding: 10px 0; /* Add padding for spacing */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow for a raised effect */
  border-radius: 10px 20px 0px 0px;
}

button {
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  text-decoration: underline; /* Optional: Add underline on hover */
}

form.search-form{
  background-color: #3EAB5C;
  width : 100vw;
}
button.search-toggle-btn{
  width : 60px;
}
input.search-input{
  width : 130px;
  height : 40px;
  margin-left : 180px;
  border : none;
  border-radius : 10px;
}

