/* Navbar.css */

.navbar {
  background-color:#AEC7A1;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height : 40px;
}

.navbar button {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: none;
  background-color: #AEC7A1;
  color: #5C5F5C;
  font-size : 20px;
  font-weight : 1000;
  border-radius: 0.25rem;
  cursor: pointer;
  border : none;
  display:flex;
}
.navbar .main{
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: none;
  background-color: #AEC7A1;
  color: #5C5F5C;
  font-size : 35px;
  font-weight : 2000;
  border-radius: 0.25rem;
  cursor: pointer;
  border : none;
  display:flex;
}

.navbar button:last-child {
  margin-right: 0;
  display:flex;
}

.navbar input {
  width : 200px;
  height: 30px;
  border : none;
  border-radius:10px;
}
