.navbar {
  position: relative; /* 부모 요소로 설정 */
}

.menu-button {
  position: absolute;
  top: 10px; /* 위쪽 위치 조정 */
  left: 10px; /* 왼쪽 위치 조정 */
  background-color: transparent; /* 배경 없음 */
  border: none; /* 테두리 없음 */
  cursor: pointer; /* 커서 포인터로 변경 */
  z-index: 10; /* 다른 요소 위에 보이도록 설정 */
}

.menu-content {
  position: absolute; /* 메뉴 내용 위치 설정 */
  top: 0; /* 상단에 위치 */
  left: 0; /* 왼쪽에 위치 */
  background-color: white; /* 배경색 */
  padding: 10px; /* 패딩 */
  border: 1px solid #ccc; /* 테두리 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  z-index: 9; /* 메뉴 버튼 아래로 설정 */
  border-radius : 20px;
  padding : 20px;
}

.search-form {
  display: flex; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
}

.search-input {
  margin-right: 10px; /* 오른쪽 여백 */
}

.search-toggle-btn {
  margin-right: 0px; /* 오른쪽 여백 */
  margin-bottom : 23px;
}

.navbar-buttons {
  display: flex; /* 수평 정렬 */
  flex-direction: column; /* 수직으로 배치 */
  margin-top: 10px; /* 위쪽 여백 */
}

.navbar button{
  width : 200px;
  margin-top :10px;
  background: none;
  color : #3EAB5C;
  margin-bottom : 26px;
}

.navbar button:hover {
  background: #f5f5f5; /* 호버 시 색상 */

}