ul.recipedetail {
  font-size : 15px
}

li.recipedetail {
  background-color : #F5F5F5;
  border:none
}

ol.recipedetail {
  background-color : white;
  border:none
}

button.recipedetail {
  width : 150px;
  height : 50px;
}
 button.scrap {
  height:50px;
  width:150px;
 }