.signup {
  height: 100vh; /* 전체 뷰포트 높이를 차지 */
  width: 100vw; /* 전체 뷰포트 너비를 차지 */
  background-color: #FAF6C0; /* 원하는 배경색 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup .box {
  padding: 20px;
  margin-top: 20px;
  background-color: #AEC7A1; /* 박스의 배경색 */
  border-radius: 10px; /* 모서리를 둥글게 */
  width: 1000px; /* 박스의 너비 */
  height : 700px;
  text-align: center; /* 텍스트 중앙 정렬 */
  color : #5C5F5C;
  margin : 20px;
  font-size : 29px;
  font-weight:800;
  text-align:left;
  position :absolute;
}

.signup .box h2 {
  text-align:center;
}

.inbox input{
  border : none;
  width: 200px;
  height : 40px;
  border-radius:10px;
  right : 200px;
}


.inbox {
  text-align:left;
  left : 250px;
  position :absolute;

}

.inbox .label1 {
  margin-right: 67px; /* 오른쪽에 10px의 마진을 추가 */
}
.inbox .label2 {
  margin-right: 50px; /* 오른쪽에 10px의 마진을 추가 */
}
.inbox .label3 {
  margin-right: 22px; /* 오른쪽에 10px의 마진을 추가 */
}
.inbox .label4 {
  margin-right: 10px; /* 오른쪽에 10px의 마진을 추가 */
}
.inbox .label5 {
  margin-right: 51px; /* 오른쪽에 10px의 마진을 추가 */
}
.inbox .label6 {
  margin-right: 110px; /* 오른쪽에 10px의 마진을 추가 */
  
}


.signup .box button {
  border : none;
  width : 150px;
  height : 40px;
  border-radius : 10px;
  margin: 0 10px;
}